@model ICollection<MusicSite.Models.User>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    th {
        font-size: 25px;
        width: 15%;
        border-bottom: 2px solid black;
    }

    .blue {
        background-color: lightsteelblue;
    }

    .white {
        background-color: floralwhite;
    }

    .modify {
        background-color: #7a80f0;
    }

    .delete {
        background-color: #f04343;
    }

    a {
        text-decoration: none;
        color: black;
    }
</style>
<h1> Konta naszych użytkowników:</h1>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Name</th>
        <th>Password</th>
        <th>E-Mail address</th>
        <th>Date of Birth</th>
        <th>Number of Reviews</th>
        <th></th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var u in @Model)
        {
            if (@u.Id % 2 == 0)
            {
                <tr class="white">
                    <td>
                        @u.name
                    </td>
                    <td>
                        @u.lastName
                    </td>
                    <td>
                        @u.userName
                    </td>
                    <td>
                        @u.password
                    </td>
                    <td>
                        @u.eMail
                    </td>
                    <td>
                        @u.creationDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <a class="modify" asp-controller="User" asp-action="ModifyUser" asp-route-Id="@u.Id">Modyfikuj</a>
                    </td>
                    <td>
                        <a class="delete" asp-controller="User" asp-action="DeleteUser" asp-route-Id="@u.Id">Usuń</a>
                    </td>
                </tr>
            }
            else
            {
                <tr class="blue">
                    <td>
                        @u.name
                    </td>
                    <td>
                        @u.lastName
                    </td>
                    <td>
                        @u.userName
                    </td>
                    <td>
                        @u.password
                    </td>
                    <td>
                        @u.eMail
                    </td>
                    <td>
                        @u.creationDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <a class="modify" asp-controller="User" asp-action="ModifyUser" asp-route-Id="@u.Id">Modyfikuj</a>
                    </td>
                    <td>
                        <a class="delete" asp-controller="User" asp-action="DeleteUser" asp-route-Id="@u.Id">Usuń</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>