@using MusicSite.Models.Reviews;

@model MusicSite.Models.Albums.ShowAlbum
<p>@Model.albumName</p>
<p>@Model.artistName</p>
<p>@Model.releaseDate</p>
<p>
    @Model.averageRating
</p>

<p>TrackList</p>
@foreach (var track in Model.albumTrackList)
{
    <p>@track.TrackNumberInAlbum</p>
    <p>@track.TrackTitle</p>
    <p>@track.TrackLength</p>
}

<p>Recenzje</p>

@foreach (ReviewShow show in Model.albumReviews)
{
    @await Html.PartialAsync("../Review/Index.cshtml", model: show);
}

@if (User.Identity.IsAuthenticated)
{
    @await Html.PartialAsync("../Review/Add.cshtml", model:new ReviewAdd() { albumID=Model.ID})
}

else
{<a asp-controller="Review" asp-action="Add" asp-route-AlbumID="@Model.ID" asp-route-returnUrl=@Path>napisz recenzje</a>}


